body {
  
}

.page {

}

header {
  font-size: 74px;
}

.alpha {
  font-size: 78px;
}

.lod {
  font-size: 92px
}

.lod:hover {
  border: 6px solid rgba(200,200,200,0.5);
}

.message {
  font-size: 22px;
}

.elmo .elmo--jump {
  /*width: 74%;*/
}
